body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    text-align: center;
    color: #060000;
}

p {
    line-height: 1.6;
    margin: 15px 0;
    text-align: center;
}

ul li {
    list-style-type: none;
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    height: 373px;
}

.contact-info {
    margin-top: 20px;
}

.contact-item {
    background: #d58e09;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: 18px;
}

.contact-item strong {
    min-width: 150px;
    display: inline-block;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 180px;
    width: 100%;
    bottom: 0;
}